*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}
body{
	background: #EDEDED;
}
.EnviarDer{
	margin-left: auto;
}
#navegador{
	background-color: #383838;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
nav{
	max-width: 1100px;
	margin: auto;
}
nav ul{
	display: flex;
	align-items: center;
}
nav li{
	background: #7e7e7e;
	padding: 5px;
	height: 20px;
	list-style: none;
	margin-right: 10px;
	border-radius: 2px;
}
nav li:hover{
	background: #C9C9C9;
}
/*NAVEGADOR*/
/*CONTENEDOR*/
#contenedor{
	background: #fff;
	max-width: 1100px;
	background: red;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	display: flex;
	height: 500px;
}