/*GENERAL*/

* {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    /*font-family: 'Nunito Sans', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 55px;
    font-weight: 700;
    padding-top: 34px;
    padding-bottom: 10px;
    margin-right: 75px;
    letter-spacing: -1px;
    line-height: 65px;
}
h2 {
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 6px;
}
h3 {
    font-weight: 400;
    font-size: medium;
    margin-right: 75px;
}
section {
    background: #000000;
    border-bottom: 8px solid #222;
    padding-top: 28px;
    padding-bottom: 40px;
}
section div.contenido {
    width: 1100px;
    /*border: solid blue;*/
    margin: auto;
}
section div.contenido div {
    /*border: solid red;*/
}
.restaurar {
    clear: both;
}
/*GENERAL FONDO*/

html, body, .cover {
    height: 100%;
}
.cover {
    background: url(../Imgs/fondo.jpg);
}
/*HEADER*/

section.cabecera {
    background: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, .4);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 60%, rgba(0, 0, 0, .8));
}
nav {
    margin: 0 3.5rem;
    padding-bottom: 22px;
}
div.logo {
    float: left;
}
.logo {
    margin-left: -15px;
    margin-top: -5px;
}
div.login {
    float: right;
}
div.login:hover {
    cursor: pointer;
}
div.login span {
    padding: 6px 16px;
    background: #e50914;
    color: #ffffff;
    border-radius: 4px;
}
.presentacion {
    text-align: center;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentacion input {
    height: 60px;
    width: 498px;
    margin-top: 18px;
    margin-bottom: -40px;
    margin-left: -82px;
    border-radius: 2px 0px 0px 2px;
    border: solid 1px #8c8c8c;
    padding-left: 8px;
    color: #000;
}
.presentacion span{
    background: #e50914;
    padding: 7px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    font-weight: 500;
    font-size: 25px;
    margin-left: -40px;
    border: solid #d30f18;
}
.presentacion span:hover, .contPreguntas span:hover{
    cursor: pointer;
    background: red;
}
/*AREA SECTIONS/CONTENTS*/

.izquierda {
    float: left;
    padding-left: 34px
}
.derecha {
    float: right;
    padding-right: 30px;
}
.flotanteTexto {
    width: 45%;
    padding-top: 100px;
}
.flotanteImagen {
    width: 46%;
    padding-top: 10px;
    padding-right: 32px;
}
.contenido img {
    width: 100%;
    height: auto;
    border: 0;
    position: relative;
    z-index: 2;
}
.contenido h2 {
    font-weight: bold;
    font-size: 42px;
}
.contenido p {
    font-size: 22px;
    font-weight: 400;
}
.tv video {
    position: absolute;
    transform: translate(-440px, 78px);
    width: 370px;
    z-index: 1;
}
.disfruta video {
    position: absolute;
    transform: translate(-412px, 40px);
    width: 314px;
    z-index: 1;
}
.tarjetaInt, .portada{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
.tarjetaInt{
    width: 70%;
    margin: auto;
    border: solid 2px #333;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    z-index: 2;
    background: #000000;
}
.tarjeta{
    position: relative;
    transform: translate(-65px, -41px);
    padding-top: 48px;
}
/*AREA QUESTIONS*/
.preguntas h2{
    font-weight: bold;
    font-size: 35px;
}
.contPreguntas{
    width: 650px;
    margin: auto;
    text-align: center;
}
.contPreguntas div{
    text-align: left;
    font-size: 21px;
}
.pregunta{
    background: #303030;
    padding: 6px;
    margin-bottom: 7px;
    margin-top: 5px;
    margin-left: -44px;
    margin-right: -42px;
    cursor: pointer;
    font-weight: 400;
}
.respuesta{
    background: #303030;
    margin-bottom: 5px;
    margin-top: 5px;
}
.pregunta p, .respuesta p{
    padding: 10px;
    padding-left: 20px;
}
.respuesta hr{
    border: 1px solid #262626;
}
.pregunta:hover .respuesta{
    max-height: 1000px;
}
.respuesta{
    max-height: 0px;
    overflow: hidden;
    transition: all .s;
}
.contPreguntas input {
    height: 60px;
    width: 452px;
    margin-top: 18px;
    margin-bottom: 32px;
    margin-left: -1px;
    border-radius: 2px 0px 0px 2px;
    border: solid 1px #8c8c8c;
    padding-left: 8px;
    color: #000;
}
.contPreguntas span{
    background: #e50914;
    padding: 7px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    font-weight: 500;
    font-size: 25px;
    margin-left: -24px;
    border: solid #d30f18;
}
.contPreguntas h3{
    font-size: 17px;
    text-align: center;
    margin-right: 0px;
    margin-top: 60px;
}
/*AREA FOOTER*/
/*.pie{
    columns: 4 10px;  
}*/
.pie p{
    padding: 7px;
    color: #737373;
    font-size: 10px;
}
.pieContenido{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.pie .espacio{
    width: 100px;
}
.pieTel{
    padding-left: 250px;
    padding-top: 32px;
    padding-bottom: 15px;
}
.dropbtn {
  background-color: #000000;
  color: #999;
  padding: 16px;
  padding-right: 14px;
  padding-left: 14px;
  margin-top: 25px;
  margin-left: 258px;
  font-size: 15px;
  border: 1px solid #333;
  border-radius: 3px;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: none ;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  margin-left: 258px;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #999;
  z-index: 1;
  font-size: 15px;
}
.dropdown-content a{
    color: #999999;
    padding: 1px 38px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #1596fc;
    color: #ffffff;
}
.show{
    display: block;
}
.fcountry{
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: -14px;
}
.fcountry p{

}
